body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    text-align: center;
}

body > header {
    position: fixed;
    top: 0;
    left: 10;
    width: 95%;
    display: flex;
    align-items: center;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em;
    z-index: 1000;
}

.logo {
    width: 45px;
    height: 30px;
    margin-right: 10px;
}

h1 {
    font-size: 1.5em;
    color: #333;
}

h3 {
    font-size: 1.5em;
    color: #333;
    margin: 0;
}

main {
    position: absolute;
    top: 7em;
    padding: 2em; /* Added */
    margin-top: 2em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.1);
}

main p {
    color: #666;
    margin: 0.5em 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    flex-grow: 1;
    max-width: 400px;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    color: white;
    background-color: #f44;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d33;
}
