<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Playlist Generator</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <img src={% static 'images/youtube-logo.jpg' %} alt="YouTube Logo" class="logo">
        <h3>YouTube Playlist Generator</h3>
    </header>
    <main>
        <p>음악 플레이리스트 동영상을 새로운 유튜브 재생목록으로 만들어드립니다.</p>
        <p>재생목록으로 만들고 싶은 영상의 링크를 붙여넣기 해보세요!</p>
        <form id="videoInfoForm">
            {% csrf_token %}
            <input type="text" id="youtubeLink" name="youtubeLink" placeholder="Paste video link here" required>
            <button type="submit">Generate</button>
        </form>
    
    </main>

    <script>
        document.getElementById('videoInfoForm').addEventListener('submit', function(event) {
            event.preventDefault(); // 폼 기본 동작 막기

            var youtubeLink = document.getElementById('youtubeLink').value;

            // 서버에 POST 요청 보내기
            fetch('/get_video_info/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({youtube_link: youtubeLink})
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                // 기존의 <div> 삭제
                var existingPlaylistInfo = document.getElementById('playlistInfo')
                if(existingPlaylistInfo) {
                    existingPlaylistInfo.remove();
                }

                // 새로운 <div> 생성 및 추가
                var playlistInfo = document.createElement('div');
                playlistInfo.id = 'playlistInfo';
                // 받아온 데이터를 화면에 표시하기
                playlistInfo.innerHTML = `
                    <h2>Playlist Created Complete!</h2>
                    <p><strong>Created Playlist:</strong> <a href="https://www.youtube.com/playlist?list=${data.new_playlist}" target="_blank">https://www.youtube.com/playlist?list=${data.new_playlist}</a></p>
                `;
                document.querySelector('main').appendChild(playlistInfo);
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('videoInfoForm').innerHTML = '<p>Error fetching video info.</p>';
            }); 
        });
    </script>
</body>
</html>
